<div>
  Strength: <input type="number" [formControl]="str" min=0 max=20 (input)="updateModifier('str',str)">
  Dexterity: <input type="number" [formControl]="dex" min=0 max=20 (input)="updateModifier('dex',dex)">
  Constitution: <input type="number" [formControl]="con" min=0 max=20 (input)="updateModifier('con',con)">
  Intelligence: <input type="number" [formControl]="int" min=0 max=20 (input)="updateModifier('int',int)">
  Wisdom: <input type="number" [formControl]="wis" min=0 max=20 (input)="updateModifier('wis',wis)">
  Charisma: <input type="number" [formControl]="cha" min=0 max=20 (input)="updateModifier('cha',cha)">
</div>
<div>
  Strength Modifier = {{abilityScoresService.modifiers.str}}
  Dexterity Modifier = {{abilityScoresService.modifiers.dex}}
  Constitution Modifier = {{abilityScoresService.modifiers.con}}
  Intelligence Modifier = {{abilityScoresService.modifiers.int}}
  Wisdom Modifier = {{abilityScoresService.modifiers.wis}}
  Charisma Modifier = {{abilityScoresService.modifiers.cha}}
</div>
